{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol" class="form-control mx-auto w-auto">
                {% for symbol in symbols %}
                    <option value="{{ symbol['stock'] }}">{{ symbol['stock'].upper() }}</option>
                {% endfor %}
            </select>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Number of shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
